@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Overpass:wght@400;700&family=Poppins:wght@200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    
    background: transparent;
  
}




nav{
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}


.nav-section{
    width: 75%;
    display: flex;
    justify-content: space-between;
    height: 90px;
    border-bottom: 1px solid hsl(220, 14%, 75%);
    padding: 35px 0px;
    position: relative;
}

.nav-section .side-bar{

    display: none;
    position: absolute;
    background: hsl(0, 0%, 100%);
    width: 50%;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 100;
    animation: fadeVisibility 0.5s;
    
}
.nav-section .side-bar svg{
    cursor: pointer;
}
.nav-section .side-bar ul{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;
    
}
.nav-section .side-bar ul li{
    list-style: none;
}

.nav-section .side-bar ul li a{
    text-decoration: none;
    color:  hsl(220, 13%, 13%);
    font-weight: 700;
}


.nav-section .left{
    display: flex;
    gap: 50px;
}

.nav-section .left .mobile-nav-munu{
    width: 30px;
    height: 30px;
    display: none;
}


.nav-section .left svg{
    cursor: pointer;
}

.nav-section .left ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-section .left ul li a{
    text-decoration: none;
    color: hsl(219, 9%, 45%);
    font-size: 14px;
}

.nav-section .left ul li a:hover{
       color: hsl(220, 13%, 13%);
       border-bottom: 3px solid hsl(26, 100%, 55%);
       padding: 31px 0;
}

.nav-section .right{
    display: flex;
    align-items: center;
    gap: 40px;
   
}

.nav-section .right img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}


.nav-section .right  svg{
    cursor: pointer;
}

.nav-section .right img:hover{
    outline: 3px solid hsl(26, 100%, 55%);
}

/*  Cart*/
.cart{
    position: absolute;
    width: 22vw;
    height: 32vh;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    top: 90%;
    background: hsl(0, 0%, 100%);
    right: -40px;
    display: none;
    transition: 0.3s;
    overflow: hidden;
    border-radius: 10px;
    animation: fadeVisibility 0.5s;
    

    
}

.cart .cart-header{
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid hsl(220, 14%, 75%);
}

.cart .cart-header p{
   font-size: 14px;
}
.cart .cart-body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: hsl(219, 9%, 45%);
}
.cart .cart-body > p{
    margin-top: 40px;
    font-size: 14px;
    font-weight: 700;
    
}

.cart .cart-body .cart-body-section{
    display: none;
}
.cart .cart-body .cart-body-section .cart-body-top{

    display: flex;
    justify-content: space-between;
    gap: 15px;
    
}

.cart .cart-body .cart-body-section .cart-body-top img{
    border-radius: 3px;
    outline: 0;
}
.cart .cart-body .cart-body-section .cart-body-top .cart-body-top-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 13px;
}

.cart .cart-body .cart-body-section .cart-body-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    
}

.cart .cart-body .cart-body-section .cart-body-bottom button{
    width: 100%;
    background: hsl(26, 100%, 55%);
    padding: 10px 0;
    color:  hsl(0, 0%, 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
}

.cart .cart-body .cart-body-section .cart-body-bottom button:hover{
    background: hsl(26, 100%, 55%, 0.9);;
}
#total-price{
    color: black !important;
    font-weight: 700;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 120px;
}

.container .container-section{
    width: 70%;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

/*****************CONTAINER-LEFT********************/

.container .container-section .left .main-img img{
    width: 400px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s;
}
.container .container-section .left .img-big img:hover{
    scale: 0.99;
    transition: 0.2s all ease-out;
}


.container .container-section .left .img-section{
    display: flex;
    gap: 30px;
    margin-top: 25px;
    
}
.container .container-section .left .img-section img{
    width: 78px;
    height: 78px;
    border-radius: 10px;
    position: relative;
   
}
.container .container-section .left .img-section  .img-colored{
    cursor: pointer;

    
}
.container .container-section .left .img-section  .img-colored1::before{
    
    position: absolute;
    content: "";
    width: 74px;
    height: 74px;
    background:rgba(255, 255, 255, 0.5);
    z-index: 100;
    border-radius: 10px;
    border: 3px solid hsl(26, 100%, 55%);
    
}


.container .container-section .left {
    flex: 0.5;
}

/**********************POPUP**********************/
.container .container-section .left .img-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 50;
    animation: fadeVisibility 0.5s;
    
   
}

.container .container-section .left .img-popup .close-btn{
    position: relative;
    left: 97%;
    cursor: pointer;
    
}

.container .container-section .left .img-popup .main-img{
   
    display: flex;
    align-items: center;
}
.container .container-section .left .img-popup .main-img .big-image{
    width: 360px;
    margin-left: -40px;
}

.container .container-section .left .img-popup .main-img .big-image img:hover{
   cursor: auto;
}

.container .container-section .left .img-popup .main-img .big-image img{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.container .container-section .left .img-popup .main-img .icon{
    width: 40px;
    height: 40px;
    background: hsl(25, 100%, 94%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    cursor: pointer;
    
    
    
}
.container .container-section .left .img-popup .main-img 
.previous{
   right: 18px;
}


.container .container-section .left .img-popup .main-img .next{
    left: 18px;
}



.container .container-section .left .img-popup .main-img .icon svg{
    stroke: hsl(220, 13%, 13%);
    
}

.container .container-section .left .img-popup .img-section img{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}




    /**************CONTAINER RIGHT***********/

.container .container-section .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.5;
}
.container .container-section .right h5{
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;
    margin-bottom: 20px;
}
.container .container-section .right h2{
    font-size: 35px;
    line-height: 2.4rem;
    margin-bottom: 40px;
}

.container .container-section .right > p{
    color: hsl(220, 13%, 13%);
    font-size: 15px;
}

.container .container-section .right .price{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
    color: hsl(0, 0%, 0%);
    font-weight: 700;
    
}

.container .container-section .right .price span{
    color: hsl(26, 100%, 55%);
    background: hsl(25, 100%, 94%);
    padding: 4px;
    border-radius: 5px;
    font-size: 12px;
}

.container .container-section .right .drop-price{
    font-size: 13px;
    font-weight: 700;
    margin-top: 5px;
    color: hsl(219, 9%, 45%);
    text-decoration: line-through;
    margin-bottom: 25px;
}

.container .container-section .right .add-cart{
    display: flex;
    align-items: center;
    gap: 10px;
}

.container .container-section .right .add-cart > p{
    display: flex;
    background: hsl(231, 22%, 87%);
    padding: 12px 10px;
    border-radius: 5px;
    user-select: none;
    width: 100px;
    align-items: center;
    justify-content: space-between;
}
.container .container-section .right .add-cart .value{
    font-size: 12px;
    color: hsl(220, 13%, 13%);
    font-weight: 700;
}

.container .container-section .right .add-cart > p .decreasing,.container .container-section .right .add-cart > p .increasing{
    font-weight: 700;
    color: hsl(26, 100%, 55%);
    font-size: 17px;
    cursor: pointer;
    

}

.container .container-section .right .add-cart .button{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    background: hsl(26, 100%, 55%);
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}
.container .container-section .right .add-cart .button svg{
    width: 20px;
    height: 18px;
}
.container .container-section .right .add-cart .button:hover{
    background: rgb(255, 125, 26, 0.9);;
}

/**********************media screen for Tab****************/

@media screen and (max-width: 992px) 

{
    .nav-section{
        width: 80%;
    }
    .nav-section .left .mobile-nav-munu{
        display: block;
        display: flex;
        align-items: center;
        
        
    }
    .nav-section .left ul{
       display: none;
    }
    .nav-section .left{
        gap: 30px;
    }
    .container .container-section{
        width: 80%;
        gap: 50px;
    }
    .container .container-section .left .main-img img{
        width: 250px;
        
    }
    .container .container-section .left .img-section{
        gap: 20px;
        
        
    }
    .container .container-section .left .img-section img{
        width: 48px;
        height: 48px;
        border-radius: 5px;
      
    }
    .container .container-section .left .img-section  .img-colored1::before{
    
        width: 45px;
        height: 45px;
        border-radius: 5px;
        border: 2px solid hsl(26, 100%, 55%);
        
    }

    .container .container-section .right h2{
        font-size: 30px;
        line-height: 2.2rem;
        margin-bottom: 20px;
    }
    
    .container .container-section .right > p{
        font-size: 12px;
    }
    
    .container .container-section .right .price{
        
        gap: 10px;
        margin-top: 15px;
        
    }

    .container .container-section .right .add-cart > p{
    
        padding: 8px 12px;
        border-radius: 5px;
        user-select: none;
        width: 80px;
    }
    .container .container-section .right .add-cart .value{
        font-size: 11px;
        
    }
    
    .container .container-section .right .add-cart > p .decreasing,.container .container-section .right .add-cart > p .increasing{
        font-weight: 700;
        color: hsl(26, 100%, 55%);
        font-size: 15px;
        cursor: pointer;
        
    
    }
    
    .container .container-section .right .add-cart .button{
        
       
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 11px;
        font-weight: 700;
        cursor: pointer;
        user-select: none;
    }
      
    .container .container-section .right .add-cart .button svg{
       
       width: 15px;
       height: 13px;
    }

    /*************POPUP********************/
  
    .container .container-section .left .img-popup .main-img .big-image{
        width: 210px;
    }
    
  /******************Cart*******************/

  .cart{
   
    width: 30vw;
    height: 28vh;
    top: 90%;
    right: 0;
       
}

.cart .cart-header{
    padding: 18px;
    
}

.cart .cart-header p{
   font-size: 13px;
}
.cart .cart-body{
    padding: 15px;
}
.cart .cart-body > p{
    margin-top: 30px;
    font-size: 11px;
    
}


.cart .cart-body .cart-body-section .cart-body-top{

    gap: 10px;
    
}


.cart .cart-body .cart-body-section .cart-body-top .cart-body-top-text{
    font-size: 11px;
}

.cart .cart-body .cart-body-section .cart-body-bottom{
   
    margin-top: 15px;
    
}

.cart .cart-body .cart-body-section .cart-body-bottom button{
    padding: 8px 0;
   
}

    
    
  }


   /****************MEDIA SCREEN FOR MOBILE**********/


   @media screen and (max-width: 600px) {
    .nav-section{
        width: 92%;
        border: none;
    }
   
    .nav-section .left{
        gap: 10px;
    }
    .container .container-section{
        width: 92%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
    
    .container .container-section .right{
        margin-top: 300px;
    }

    .container .container-section .right  .price-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    .container .container-section .right p{
        font-size: 14px;
    }

    
    
    .container .container-section .right .price{
        font-size: 19px;
        gap: 15px;
        margin: 0;
        
    }
    .container .container-section .right .add-cart{
            flex-direction: column;
    }

    .container .container-section .right .add-cart > p{
    
        padding: 10px 20px;
        width: 100%;
    }
    .container .container-section .right .add-cart .value{
        font-size: 13px;
        
    }
    
    .container .container-section .right .add-cart > p .decreasing,.container .container-section .right .add-cart > p .increasing{
        
        font-size: 18px;
    }
    
    .container .container-section .right .add-cart .button{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        width: 100%;
        font-size: 14px;
    } 
      

    /*************POPUP********************/
    #mobile-hide{
        display: none;
    }
   
  
    .container .container-section .left .img-popup{
        display: block;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        transform: translate(0,0);


        
    }

    .container .container-section .left .img-popup .close-btn{
        display: none;
    }

    .container .container-section .left .img-popup .main-img .big-image {
        width: 100vw;
        height: 300px;
        overflow: hidden;
        margin: 0;
        
    }

    .container .container-section .left .img-popup .main-img .big-image img{
       border-radius: 0;
       width: 100vw;
       
     
      
    }

    .container .container-section .left .img-popup .img-section{
        display: none;
    }

    .container .container-section .left .img-popup .main-img .icon{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        position: relative;
        cursor: pointer;
        
        
        
    }
    .container .container-section .left .img-popup .main-img 
    .previous{
       right: -35px;
      

    }
    
    
    .container .container-section .left .img-popup .main-img .next{
        left: -35px;
       
    
    }
    
  /******************Cart*******************/

  .cart{
   
    width: 30vw;
    height: 28vh;
    top: 100%;
    right: 0;
    z-index: 100;
    width: 100%;
       
}

.cart .cart-header{
    padding: 18px;
    
}

.cart .cart-header p{
   font-size: 13px;
}
.cart .cart-body{
    padding: 15px;
}
.cart .cart-body > p{
    margin-top: 30px;
    font-size: 11px;
    
}


.cart .cart-body .cart-body-section .cart-body-top{

    gap: 10px;
    
}


.cart .cart-body .cart-body-section .cart-body-top .cart-body-top-text{
    font-size: 11px;
}

.cart .cart-body .cart-body-section .cart-body-bottom{
   
    margin-top: 15px;
    
}

.cart .cart-body .cart-body-section .cart-body-bottom button{
    padding: 8px 0;
   
}

  }
